server:
  port: 19001
spring:
  application:
    name: ${project.artifactId}
---
# Spring AI 配置
spring:
  ai:
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always
    openai:
      base-url: https://api.chatanywhere.tech
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
---
spring:
  datasource:
    url: jdbc:mysql://175.178.193.128:20001/kongyu
    username: kongyu
    password: kongyu
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      maximum-pool-size: 1000
      minimum-idle: 10
      idle-timeout: 30000
      connection-timeout: 30000
